/* 
MAIN STYLES STYLES 
*/

html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #f9f9f9;
}

main {
    min-height: 85vh;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}
p#date{
    color: rgb(138, 138, 138);
    font-size: 15px;
    height: auto;
    padding-top: 0;
    margin-top: 0;
    margin: 0;
    padding: 0;
}
input[type="file"]{
    display: none;
}
/*
    LOGIN STYLES
*/
#login{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 50vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
}
#login > *{
    border:none;
    border-radius: 10px;
}
#login input{
    font-size: 17px;
    height: 5vh;
    width: 15vw;
    margin-bottom: 1vh;
}
#login input[type="submit"]{
    width: 15.5vw; 
}
#login input:focus{
    border: 1px solid black;
}
#login button{
    font-size: 17px;
    border:none;
    border-radius: 10px;
    width: 15.5vw; 
    height: 5vh;
    margin-bottom: 1vh;
}
#logincontainer{
    height: 100vh;
    width: 100vw;
}
/*
    INDEX STYLES
*/
section{
    width: 100%;
    height: auto;
    display: flex;
}
.index {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    width: 76%;
    min-height: 100vh;
    height: auto;
    margin-top: 2vh;
    margin-bottom: 4vh;
}
section > aside{
    width: 20%;
}
section > aside form{
    margin: auto;
    width: 80%;
}
section > aside form select{
    width: 100%;
    height: 5vh;
    cursor: pointer;
    border-radius: 10px;
    color: #fff;
    transition: 0.3s ease;
    background-color: rgb(0, 0, 0);
}
section > aside form button{
    width: 100%;
    height: 5vh;
    border:none;
    border-radius: 10px;
    height: 5vh;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
    background-color: rgb(0, 0, 0);
}
section > aside form button:hover {
    color: rgb(24, 177, 24);
    background-color: rgb(34, 34, 34);
}
.index > div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    min-width: 0;
    min-height: 0;
    background-color: white;
    height: 40vh;
    transition: 0.1s ease;
}
.index p{
    padding: 0;
    margin: 0;
    height: 19vh;
}
.index > div > h3{
    height: 5vh;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}
.index > div:hover{
    transform: scale(1.035);
    transition: 0.2s ease;
}

.index a{
    transition: ease-in-out 0.3s;
    color: black;
    padding-bottom: 1%;
}
.index a:hover{
    color: rgb(24, 177, 24);
}

.index #index-article{
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.index #index-article img{
    height: 50px;
    width: 50px;
    border-radius: 50%
}
.index #index-article-data{
    flex-direction: column;
    text-align: left;
    padding-left: 4;
    margin-left: 5%;
}
#pagebuttons{
    margin-left: 5%;
    margin-top: 1vh;
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
}
#pagebuttons button{
    border:none;
    border-radius: 10px;
    height: 5vh;
    width: 7vw;
    cursor: pointer;
    color: #fff;
    transition: 0.3s ease;
    background-color: rgb(0, 0, 0);
}
#pagebuttons button:hover {
    color: rgb(24, 177, 24);
    background-color: rgb(34, 34, 34);
}
#pagebuttons button:disabled{
    background-color: rgb(82, 82, 82);
}
#pagebuttons button:disabled:hover{
    color: white;
}
.mobile{
    display: none !important;
}

/*
    MY ARTICLES STYLES
*/
.myarticles{
    display: flex;
    flex-direction: column;
    width: 75vw;
}
.myarticles div{
    background-color: white;
    width: 74.5vw;
    margin-bottom: 2.5vw;
    padding-left: 0.5vw;
}
.myarticles div:first-of-type{
    margin-top: 2.5vw;
}
.myarticles button{
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: black;
    color: white;
    height: 5vh;
    width: auto;
    min-width: 5vw;
}
.myarticles button:hover{
    background-color: rgb(34, 34, 34);
    color: #118d00;
}
.myarticles + #pagebuttons {
    margin-bottom: 2.5%;
}
/*
    ARTICLE STYLES
*/
.article{
    margin-top: 2%;
    height: auto;
    margin-bottom: 2%;
    align-content: flex-start;
}

article{
    min-height: 20vh;
    width: 60vw;
    height: auto;
    background-color: white;
    font-size: 20px
}
article h1:first-of-type{
    text-decoration: underline;
    text-decoration-color: #118d00;

}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6{
    text-decoration: underline;
    text-decoration-color: #118d00;
    white-space: pre-wrap;
}
article p{
    white-space: pre-wrap;
}
article{
    padding-left: 2.5%;
    padding-right: 2.5%;
}
article button{
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: black;
    color: white;
    height: 5vh;
    width: 10vh;
}
article button:hover{
    background-color: rgb(34, 34, 34);
    color: #118d00;
}

/*
    SHARED INDEX AND ARTICLE STYLES
*/
.index div, article{
    transition: ease-in-out 0.5s;
}
.index .article-image, article .article-image{
    height: 20vh;
    width: 100%;
    background-size: cover;
}
article .article-image{
    margin-top: 2vh;
    height: 40vh;
    max-width: 100%;
    width: auto;
}
/*
    PROFILE STYLES
*/
.profile{
    width: 70%;
    background-color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.profile div{
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 20%;
    margin-right: 2%;
}
.profile #account{
    width: 30%;
}
.profile #account textarea{
    height: 13vh;
    width: 98%;
    resize: vertical;
}
.profile div div{
    padding-left: 2%;
    height: 3em;
    width: 98%;
    line-height: 3em;
}
.profile #account #bio{
    height: 13vh;
    line-height: 1.2em;
}
.profile div div:nth-child(even){
    background-color: #e1e1e1; 
}
.profile div div:nth-child(odd){ 
    background-color: #f6f6f6;
}
.profile button{
    width: 100%;
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: black;
    color: white;
    height: 5vh;
    font-size: 20px;
}
.profile aside{
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #e1e1e1; 
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    align-items: center;
    padding: 1.5%;
}
.profile aside button{
    margin-bottom: 3%;
}
.profile button:hover, #account button:hover{
    background-color: rgb(34, 34, 34);
    color: #118d00;
}
.profile img {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}
/*
    CONTACT STYLES
*/
.contact{
    margin-top: 10%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    align-items: center;
    justify-content: space-around;
}
.contact > div{
    height: 100%;
    width: 30%;
}
.contact form{
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contact input, .contact textarea{
    height: 5%;
    margin-bottom: 5%;
    font-size: 16px;
    width: 100%;
}
.contact textarea{
    height: 15%;
    resize: none;
}
.contact button[type="submit"]{
    height: 7%;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    border-radius: 10px;
}
.contact a {
    color: #000;
}
ul {
    margin-left: 15%;
    list-style-type: none;
}

/*
    FOOTER STYLES
*/
footer {
    height: 25vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-content: center;
}
footer>ul li:first-child {
    font-size: 20px;
}
footer span{
    display: block;
    width: 40px;
    height: 2px;
    margin-bottom: 10px;
    background-color: rgb(24, 177, 24);
}
footer>ul li:first-child:hover {
    color: white
}
footer a {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.5s;
}

footer a:hover {
    transition: ease-in-out 0.5s;
    color: rgb(24, 177, 24);
}
footer h1{
    margin-left: 15%;
}
/*
    NAV STYLES
*/
nav {
    display: flex;
    padding: 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    background-color: white;
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
}
.dropdown {
    position: relative;
    display: inline-block; 
    height: auto;
    width: 10%;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    background-color: rgb(235, 235, 235);
    width: 100%; 
    border: none;
    text-align: left;
    background-color: transparent;
    cursor: pointer;
    height: auto;
}
.dropdown-content {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
    display: none;
    flex-direction: column;
    width: 100%;
}

.dropdown-content button:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: flex;
}
#logo {
    height: 100px;
    width: 100px;
}
.nav-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: white;
}

.nav-buttons button {
    border: none;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.1s ease;
}
.nav-buttons > button{
    background-color: transparent;
    width: 10%;
    height: 13.5vh;
}

.dropbtn{
    background-color: transparent;
    width: 100%;
    height: 13.5vh;
}
.nav-buttons button:hover {
    background-color: rgb(235, 235, 235);
    border-bottom: 3px solid #118d00;
}
#hamburger, #x {
    display: none;
    order: 10;
    align-self: flex-end;
}
.hiddenPC{
    display: none;
}
/*
 EDIT/CREATE ARTICLE STYLE
*/

.managearticle{
    height: auto;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.managearticle > form{
    height: auto;
    width: 63%;
    display: flex;
    flex-direction: column;
    text-align: start;
}
.managearticle > form select{
    background-color: #000;
    color: white;
    transition: 0.3s ease;
    height: 4vh;
}
.managearticle aside{
    margin-left: 2%;
    margin-right: 2%;
    width: 28%;
    height: auto;
}
.managearticle aside span{
    text-align: center;
}
.managearticle aside img{
    width: 80%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-left: 10%;
}
.managearticle aside form{
    width: 80%;
    height: auto;
    margin-left: 10%;
}
.managearticle aside form button{
    height: 5vh;
    width: 100%;
    margin-bottom: 2.5%;
    background-color: #000;
    color: white;
    transition: 0.3s ease;
}
.managearticle aside form button:hover{
    background-color: rgb(34, 34, 34);
    color: #118d00;
}
.managearticle *{
    border:none;
    border-radius: 10px;
}
.managearticle input{
    height: 4.8vh;
    margin-bottom: 0.8vh;
}
.managearticle input[type="submit"]{
    width: 10%;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: 0.3s ease;
}
.managearticle input[type="submit"]:hover{
    color: rgb(24, 177, 24);
    background-color: rgb(34, 34, 34);
}
.managearticle textarea{
    margin-bottom: 0.8vh;
    height: 72vh;
    resize: vertical;
}
/*
    ADMIN PANEL STYLES
*/

.adminpanel{
    height: auto;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-bottom: 4vh;
    
}
.adminpanel table{
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 70%;
}
.adminpanel tr{
    border-top: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: left;
    transition: background-color 0.3s ease;
    height: 3em;
}

.adminpanel tr:nth-child(odd){ 
    background-color: #f6f6f6; 
}
.adminpanel tr:nth-child(even){ 
    background-color: #e1e1e1; 
}
.adminpanel tr:hover {
  background-color: #d1d1d1;
}
.adminpanel tr:first-of-type{
    background-color: black;
    color: white;
}
.adminpanel td{
    display: flex;
    justify-content: flex-start;
    width: 30%;
    font-size: 20px;
}
.adminpanel td:nth-child(3n){
    justify-content: flex-end;
}
.adminpanel button{
    border:none;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: transparent;
    background-color: none;
    height: 100%;
    width: 10vw;
    text-align: right;
}
.adminpanel button:hover {
    background-color: rgb(204, 204, 204);
}
#adminpagebuttons{
    margin-top: 1vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
}
#adminpagebuttons button{
    text-align: center;
    height: 7vh;
    transition: 0.3s ease;
    color: white;
    background-color: rgb(0, 0, 0);
}
#adminpagebuttons button:hover {
    color: rgb(24, 177, 24);
    background-color: rgb(34, 34, 34);
}
#adminpagebuttons button:disabled{
    background-color: rgb(82, 82, 82);
}
#adminpagebuttons button:disabled:hover{
    color: white;
}
@media only screen and (max-width: 750px) {
    /* 
    MAIN MOBILE STYLES 
    */
    .index{
        margin-top: 2vh;
    }
    main {
        margin: auto;
        width: 100%;
    }
    .container {
        height: auto;
    }
    /*
        LOGIN MOBILE STYLES
    */
    #login{
        width: 80vw;
    }
    #login input{
        width: 60vw;
    }
    #login input[type="submit"]{
        width: 60.5vw; 
    }
    #login button{
        width: 60vw;
    }
    /*
        INDEX MOBILE STYLES
    */
    .index {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: auto;
    }
    .index p{
        height: auto;
        margin-bottom: 2%;
    }

    .index div {
        width: 100%;
        height: auto;
        margin-bottom: 1vh;
    }

    .index .article-image{
        height: 30vh;
    }

    .index #index-article{
        height: auto;
        flex-wrap: nowrap;
        min-height: 0; 
    }
    .index #index-article-data{
        width: 80%;
    }
    .index > div > h3{
        margin-bottom: 4vh;
    }

    #pagebuttons{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3%;
    }
    #pagebuttons button{
        width: 15vw;
        min-width: 1.2em;
    }
    .mobile{
        display: flex !important;
        margin-bottom: 5%;
    }
    /*
        MY ARTICLES MOBILE STYLE
    */
    #pagebuttons{
        width: 75vw;
    }
    /*
        ARTICLE MOBILE STYLES
    */
    .article{
        margin-top: 7%;
        align-content: space-around;
    }
    article{
        width: 90%;
        min-height: 80vh;
    }
    /*
        FOOTER MOBILE STYLES
    */
    footer {
        flex-direction: column;
        height: auto;
    }
    /*
        NAV MOBILE STYLES
    */
    .nav-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 80%;
        height: 100vh;
        display: none;
        box-shadow: 0 0 0 600vmax rgba(0, 0, 0, 0.6);
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .dropdown{
        display: none;
    }
    .hiddenPC{
        display: block;
    }
    .nav-buttons button {
        width: 100%;
        height: 5%;
    }
    #x, #hamburger {
        z-index: 1000;
        position: absolute;
    }
    #hamburger {
        display: block;
        top: 20px;
        right: 20px;
        height: 50px;
        width: 50px;
    }
    #x {
        top: 10px;
        right: 10px;
        height: 25px;
        width: 25px;
    }
    .show {
        display: block !important;
    }
    .hidden {
        display: none !important;
    }

    .adminpanel{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .adminpanel > div{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: auto;
        padding-top: 1vh;
    }
    .adminpanel > div > *{
        width: 100%;
    }
    #adminpagebuttons button{
        width: 15vw;
    }
    #adminpagebuttons{
        margin-bottom: 1vh;
        padding-top: 0;
    }
    /*
        MANAGE ARTICLE MOBILE STYLES
    */
    .managearticle input[type='submit']{
        width: auto;
    }
    /*
        PROFILE MOBILE STYLES
    */
    .profile{
        flex-direction: column-reverse;
        margin-top: 5vh;
    }
    .profile div,.profile #account,.profile aside{
        margin: 1vh;
        width: 80%;
        height: auto;
        margin-bottom: 2vh;
    }
    .profile #account div,.profile div div{
        width: 100%;
        height: auto;
    }
}
/* 
    SCROLLBAR REMOVAL STYLES
*/
::-webkit-scrollbar {
    display: none;
}
/*
    SCROLL TO TOP BUTTON STYLES
*/
#scroll {
  display: none;
  position: fixed;

  bottom: 20px;
  right: 30px;
  z-index: 10;
  border: none;
  background-color: rgba(24, 177, 24, 0.541); 
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 900;
  transition: ease-in-out 0.3s;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: auto;
}

#scroll:hover {
  background-color: #118d00;
}